# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd

# Virtual Environment
venv/
.env

# IDE
.vscode/
.idea/

# Logs
logs/
*.log

# Streamlit
.streamlit/

# Pytest
.pytest_cache/

# Build
dist/
build/

# Docker
*.tar

# Model Weights
*.pt
*.onnx

# Images
outputs/
uploads/

# Mac
.DS_Store